<div class= "form_box">
  <div class= "form_title_box">
    <div class= "form_title">
      メンバー登録
    </div>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class= "form_group">
      <div class= "form_label_box">
        <div class= "form_label"><%= f.label :nickname %></div>
        <div class= "form_required">必須</div>
      </div>
      <%= f.text_field :nickname, autofocus: true, class: "form_input" %>
    </div>

    <div class= "form_group">
      <div class= "form_label_box">
        <div class= "form_label"><%= f.label :profile %></div>
      </div>
      <%= f.text_area :profile, class: "form_textArea" %>
    </div>

    <div class= "form_group">
      <div class= "form_label_box">
        <div class= "form_label"><%= f.label :email %></div>
        <div class= "form_required">必須</div>
      </div>
      <%= f.email_field :email, class: "form_input" %>
    </div>

    <div class= "form_group">
      <div class= "form_label_box">
        <div class= "form_label"><%= f.label :password %></div>
        <div class= "form_required">必須</div>
      </div>
      <%= f.password_field :password, class: "form_input" %>
    </div>

    <div class= "form_group">
      <div class= "form_label_box">
        <div class= "form_label"><%= f.label :password_confirmation %></div>
        <div class= "form_required">必須</div>
      </div>
      <%= f.password_field :password_confirmation, class: "form_input" %>
    </div>

    <div class= "form_commit">
      <%= f.submit "会員登録する", class: "form_commit_text" %>
    </div>

  <% end %>
</div>