<%= render "search_works" %>

<div class= "worksIndex_popularMovies_box">

  <div class= "worksIndex_popularMovies_title_box">
    <h1 class= "worksIndex_popularMovies_title">人気の映画</h1>
    <p class= "worksIndex_popularMovies_title_time">0000/00/00 00:00現在</p>
  </div>

  <div class= "worksIndex_popularMovies_movies">
    <% @popular_movies.first(5).each do |movie| %>
      <div class= "worksIndex_popularMovies_movie">
        <div class= "worksIndex_popularMovies_movie_image">
          <%= image_tag(movie[:thumbnail_url]) if movie[:thumbnail_url].present?, class: "worksIndex_popularMovies_movie_imageTag" %>
        </div>
        <div class= "worksIndex_popularMovies_movie_title">
          <%= movie[:title] %>
        </div>
      </div>
    <% end %>
  </div>

</div>



<h1>人気の映画</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>ジャンル</th>
      <th>公開日</th>
      <th>サムネイル</th>
    </tr>
  </thead>
  <tbody>
    <% @popular_movies.first(5).each do |movie| %>
      <tr>
        <td><%= link_to movie[:title], work_path(id: movie[:api_id]) %></td>
        <td><%= movie[:genre] %></td>
        <td><%= movie[:release_date] %></td>
        <td>
          <% if movie[:thumbnail_url].present? %>
            <img src="<%= movie[:thumbnail_url] %>" alt="<%= movie[:title] %>のサムネイル" width="100">
          <% else %>
            <p>サムネイルなし</p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>新着映画</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>ジャンル</th>
      <th>公開日</th>
      <th>サムネイル</th>
    </tr>
  </thead>
  <tbody>
    <% @now_playing_movies.first(5).each do |movie| %>
      <tr>
        <td><%= link_to movie[:title], work_path(id: movie[:api_id]) %></td>
        <td><%= movie[:genre] %></td>
        <td><%= movie[:release_date] %></td>
        <td>
          <% if movie[:thumbnail_url].present? %>
            <img src="<%= movie[:thumbnail_url] %>" alt="<%= movie[:title] %>のサムネイル" width="100">
          <% else %>
            <p>サムネイルなし</p>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>