<h1>作品一覧</h1>

<%= link_to "update", import_from_tmdb_path(tmdb_id: 20000), data: { turbo_method: :post } %>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>種類</th>
      <th>ジャンル</th>
      <th>公開日</th>
      <th>サムネイル</th>
    </tr>
  </thead>
  <tbody>
    <% @works.each do |work| %>
      <tr>
        <td><%= link_to work.title, work %></td>
        <td><%= work.type %></td>
        <td><%= work.genre %></td>
        <td><%= work.release_date %></td>
        <td><%= image_tag(work.thumbnail_url, size: "100x150") if work.thumbnail_url.present? %></td>
      </tr>
    <% end %>
  </tbody>
</table>