<%= render "search_works" %>

<div class= "worksIndex_box">

  <div class= "worksIndex_title_box">
    <h1 class= "worksIndex_title">人気の映画</h1>
    <p class= "worksIndex_title_time">0000/00/00 00:00現在</p>
  </div>

  <div class= "worksIndex_movies">
    <% @popular_movies.first(5).each do |movie| %>
        <div class= "worksIndex_movie">
          <%= link_to(work_path(movie[:api_id])) do %>
            <div class= "worksIndex_movie_image">
              <%= image_tag(movie[:thumbnail_url], class: "worksIndex_movie_imageTag") if movie[:thumbnail_url].present? %>
            </div>
            <div class= "worksIndex_movie_title">
              <%= movie[:title] %>
            </div>
          <% end %>
        </div>
    <% end %>
  </div>
  <div class= "worksIndex_movies_more">
    もっと見る  →
  </div>
</div>

<div class= "worksIndex_box">

  <div class= "worksIndex_title_box">
    <h1 class= "worksIndex_title">新着の映画</h1>
    <p class= "worksIndex_title_time">0000/00/00 00:00現在</p>
  </div>

  <div class= "worksIndex_movies">
    <% @now_playing_movies.first(5).each do |movie| %>
        <div class= "worksIndex_movie">
          <%= link_to(work_path(movie[:api_id])) do %>
            <div class= "worksIndex_movie_image">
              <%= image_tag(movie[:thumbnail_url], class: "worksIndex_movie_imageTag") if movie[:thumbnail_url].present? %>
            </div>
            <div class= "worksIndex_movie_title">
              <%= movie[:title] %>
            </div>
          <% end %>
        </div>
    <% end %>
  </div>
  <div class= "worksIndex_movies_more">
    もっと見る  →
  </div>
</div>