<%= render "search_works" %>

<div class= "worksSearch">
  <div class= "worksSearch_title">
    検索結果
  </div>
  <% if @movies.present? %>
    <div class= "worksSearch_works">
      <% @movies.each do |movie| %>
        <div class= "worksSearch_work">
          <div class= "worksSearch_work_left">
            <div class= "worksSearch_work_image">
              <%= image_tag(movie[:thumbnail_url], class: "worksSearch_work_imageTag") if movie[:thumbnail_url].present? %>
            </div>
          </div>
          <div class= "worksSearch_work_right">
            <div class= "worksSearch_work_title"></div>
            <div class= "worksSearch_work_releaseDate"></div>
            <div class= "worksSearch_work_category"></div>
            <div class= "worksSearch_work_human_box">
              <div class= "worksSearch_work_director_box">
                <div class= "worksSearch_work_heading3">監督</div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class= "worksSearch_null">
      ヒットしませんでした。
    </div>
</div>

<h1>検索結果</h1>

<% if @movies.present? %>
  <h2>検索結果一覧</h2>
  <ul>
    <% @movies.each do |movie| %>
      <li>
        <p><%= link_to movie[:title], work_path(id: movie[:api_id]), class: "link" %></p>
        <p>ジャンル：<%= movie[:genre] %></p>
        <p>公開日：<%= movie[:release_date] %></p>
        <% if movie[:thumbnail_url].present? %>
          <p>サムネイル：<%= image_tag(movie[:thumbnail_url], alt: movie[:title], width: 100) %></p>
        <% end %>
        <p></p>
        <p></p>
      </li>
    <% end %>
  </ul>
<% end %>