<%= render "search_works" %>

<div class= "worksShow">
  <div class= "worksShow_left">
    <div class= "worksShow_image">
      <%= image_tag(@work[:thumbnail_url], class: "worksShow_imageTag") if @work[:thumbnail_url].present? %>
    </div>
    <% if user_signed_in? %>
      <div class= "worksShow_reviewButton_box">
        <button id= "review_open_button" class= "worksShow_reviewButton">レビューを書く</button>
        <%= render "reviews/review_modal" %>
      </div>
    <% else %>
      <div class= "worksShow_reviewButton_box">
        <%= button_to "レビューを書く", new_user_session_path, class: "worksShow_reviewButton" %>
      </div>
    <% end %>
  </div>
  <div class= "worksShow_right">
    <div class= "worksShow_title">
      <%= @work[:title] %>
    </div>
    <div class= "worksShow_releaseDate">
      公開日：<%= l Date.parse(@work[:release_date]) %>
    </div>
    <div class= "worksShow_category_box">
      種類：<%= @work[:type] %>  /  ジャンル： <%= @work[:genre] %>
    </div>
    <div class= "worksShow_description_box">
      <div class= "worksShow_heading3">あらすじ</div>
      <div class= "worksShow_description_content">
        <%= simple_format(h(@work[:description]), {}, sanitize: false, wrapper_tag: "div") %>
      </div>
    </div>
    <div class= "worksShow_director_box">
      <div class= "worksShow_heading3">監督</div>
      <div class= "worksShow_human_name">
        <%= @work[:author_or_director] %>
      </div>
    </div>
    <div class= "worksShow_mainCast_box">
      <div class= "worksShow_heading3">出演者</div>
      <div class= "worksShow_human_name">
        <%= @work[:main_casts] %>...等
      </div>
    </div>
  </div>
</div>

<% @reviews.each do |review| %>
  <%= review.user.nickname %>
  <%= review.rating %>
  <%= review.comment %>
  <% if review.spoiler %>
    ネタバレ
  <% else %>
    ネタバレ無し
  <% end %>
<% end %>

<%= render "back" %>