<h1><%= @work[:title] %></h1>

<p><strong>種類:</strong> <%= @work[:type] %></p>
<p><strong>ジャンル:</strong> <%= @work[:genre] %></p>
<p><strong>あらすじ:</strong> <%= @work[:description] %></p>
<p><strong>公開日:</strong> <%= @work[:release_date] %></p>
<p><strong>著者または監督:</strong> <%= @work[:author_or_director] %></p>
<p><strong>サムネイル:</strong></p>
<%= image_tag(@work[:thumbnail_url]) if @work[:thumbnail_url].present? %>
