<div class= "form_box">
  <div class= "form_title_box">
    <div class= "form_title">
      ログイン
    </div>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form" }) do |f| %>
    <div class= "form_group">
      <div class= "form_label_box">
        <div class= "form_label"><%= f.label :email %></div>
        <div class= "form_required">必須</div>
      </div>
      <%= f.email_field :email, class: "form_input" %>
    </div>

    <div class= "form_group">
      <div class= "form_label_box">
        <div class= "form_label"><%= f.label :password %></div>
        <div class= "form_required">必須</div>
      </div>
      <%= f.password_field :password, class: "form_input" %>
    </div>

    <div class= "form_commit">
      <%= f.submit "ログイン", class: "form_commit_text" %>
    </div>
  <% end %>

</div>
