<header>
  <div class= "header_box">
    <div class= "header_left">
      <div class= "header_appTitle">
        review_share
      </div>
    </div>
    <div class= "header_right">
      <ul class= "header_navbar_list">
        <% if user_signed_in? %>
          <li class= "header_navbar_item">
            映画
          </li>
          <li class= "header_navbar_item">
            本
          </li>
          <li class= "header_navbar_item">
            <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "link" %>
          </li>
        <% else %>
          <li class= "header_navbar_item">
            <%= link_to "会員登録", new_user_registration_path, class: "link" %>
          </li>
          <li class= "header_navbar_item">
            <%= link_to "ログイン", new_user_session_path, class: "link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>

<div class= "flash_message_box">
  <% if flash[:notice] %>
    <div class= "flash_message_notice">
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:alert] %>
    <div class= "flash_message_alert">
      <%= flash[:alert] %>
    </div>
  <% end %>
</div>